.section-3 {
    background-color: #f1f1f1;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    max-width: 1200px;
    height: 80vh;
  }
  
  .product-about-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 50%; 
  }
  
  .product-image {
    width: 50%; 
  }
  
  @media (max-width: 768px) {
    .about-product {
      flex-direction: column;
      height: auto;
      padding: 2rem 0;
    }
  
    .product-about-text,
    .product-image {
      width: 100%;
      text-align: center;
    }
  
    .product-image {
      margin-top: 2rem;
    }
  }