.innovator-section {
  padding: 0px 0px;
  background-color: #f9f9f9;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innovator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  max-width: 1200px;
  padding: 40px 20px;
}

.innovator-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.innovator-content {
  width: 50%;
}

@media (max-width: 768px) {
  .innovator-container {
      flex-direction: column; 
      align-items: center; 
  }

  .innovator-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; 
      width: 100%;
  }

  .innovator-image {
      order: 1; 
      margin: 20px 0; 
  }

  .innovator-content h2,
  .innovator-content h3 {
      order: 0; 
  }

  .innovator-content p {
      order: 2; 
  }
}